*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: reg;
    src: url(../Assets/Fonts/ProductSans-Regular.woff);
}
@font-face {
    font-family: med;
    src: url(../Assets/Fonts/ProductSans-Medium.woff);
}
@font-face {
    font-family: bol;
    src: url(../Assets/Fonts/ProductSans-Bold.woff);
}
@font-face {
    font-family: thi;
    src: url(../Assets/Fonts/ProductSans-Thin.woff);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #F8F8F8;
    font-family: med, reg, bol, thi;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 140vw;
    background-color: #FFFFFF;
    box-shadow: 0px 27.104px 67.144px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    h3{
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 16px;
        font-family: reg;
    }
    h4{
        font-weight: 400;
        color: #676767;
        font-family: reg;
        margin-top: 8px;
    }
    .data{
        // background-color: rgba(0, 0, 0, 0.14);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-60px);
    }
    .links{
        transform: translateY(-40px);
        height: 40%;
        width: 100%;
        // background-color: rgba(0, 0, 0, 0.14);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

.btn{
    background-color: #4E91E6;
    width: 80%;
    height: 6vh;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.1);
    a{
        width: 100%;
        // text-decoration: none;
        text-decoration-color: white;
        text-decoration-thickness: 0.1rem;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        // background-color: brown;
    }
    a h4{
        color: white;
        font-family: med;
        font-size: 1rem;
        transform: translateY(-4px);
    }

}

.link2{
    background-color: #E74D89;
}

.link3{
    background-color: #E12690;
}

.ico{
    transform: translateX(30px);
}

@media screen and (min-width: 480px){
    .card{
        width: 320px;
        height: 600px;
    }
    .btn{
        height: 6vh;
    }
}

.bottom{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    width: 90%;
    .left, .right{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h4{
            font-family: thi;
            transform: translateY(-5px);
            letter-spacing: 2px;
        }
    }
    .left{
        opacity: 0;
    }

    .left .bi, .right .bi {
        transform: scale(0.5);
    }

    .dots{
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .one{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: black;
        }
        .two{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: black;
            opacity: 0.4;
        }
    }
}

.linkm{
    background-color: blueviolet;
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    height: 100%;
}

